.form {
  display: grid;
  gap: var(--space-16);
  grid-template-columns: 1fr 1fr;
  max-width: 550px;

  .spanFull {
    grid-column: 1 / 3;
  }
}

.fieldgroup {
  display: grid;

  label {
    color: var(--clr-primary);
  }

  :is(input[type="text"], input[type="date"], select) {
    padding: var(--space-8) var(--space-16);
    border-radius: var(--br-input);
    border: none;
    outline: none;
    box-shadow: inset var(--bx-3);
    margin-block: var(--space-8);
  }
}

button {
  padding: var(--space-8) var(--space-16);
  border-radius: var(--br-input);
  cursor: pointer;
  font-weight: 600;
  color: var(--clr-black);
  box-shadow: var(--bx-3);
}
